body {
  font-family: 'Montserrat', sans-serif;
}

h1 {
  padding: 50px 100px;
  font-family: 'Montserrat', sans-serif;
  font-size: 4rem;
  line-height: 1.5;
  font-weight: bold;
}

.main-desc {
  font-family: 'Ubuntu', sans-serif;
  padding: 0px 100px;
  margin-top: -20px;
}

#title {
  color:#000;
}

.navbar-brand {
  font-family: 'Ubuntu';
  font-size: 3rem;
  font-weight: bold;
}

.main-buttons {
  padding: 20px 100px;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: 'Montserrat'
}

.container-fluid{
  padding: 3% 15%;
  background-color: #B4E197;
  position: relative;

}

.main-img {
  height:650px;
  width: 650px;
  transform: rotate(25deg);
  position: absolute;
  top:8%;
}

#features {
  padding: 7% 15%;
  color:#FFF;
  position: relative;
  z-index: 1;
}

.download-btn {
  margin: 5% 3%  5% 0;

}

.feature-box {
  text-align: center;
  padding: 5%;
}

h3 {
  font-family: 'Montserrat'
}

p {
  color:#000;
}

.icon {
  color:#83BD75;
  margin-bottom: 1rem;
}

.icon:hover {
  color:#4E944F;
}

#testimonials-1 {
  padding: 7% 15%;
  text-align: center;
  background-color: #83BD75;
}

#testimonials-2 {
  padding: 5% 15%;
  text-align: center;
  background-color: #83BD75;
}

.text-icon {
  height: 80px;
  width: 80px;
  color:#B22727;
  margin-top: 1rem;
}

.text-icon:hover {
  color:#4E944F;
}

#press {
  text-align: center;
  padding: 7% 15%;
  transition: .2s;
}

#pricing {
  padding: 100px;
}

.pricing-column {
  padding: 3% 2%;
}

.h2-header {
  text-align: center;
  font-family: 'Montserrat'
}

.pricing-p {
  text-align: center;
}

@media (max-width:1080px) {
  #title {
    text-align: center;
  }
  .main-img {
    position: static;
    transform: rotate(0);
    padding-right: 30px;
    height:550px;
    width: 600px;
  }

  #press {
    height: auto;
    width: auto;
  }
}

#cta {
  text-align: center;
  background-color: #4E944F;
}

#footer {
  text-align: center;
  padding-top: 3%;
  font-size: 12px;
}

.footer-icons {
  padding-bottom: 10px;
}

.social-icon {
  margin: 20px 10px;
}

.cta-heading {
  margin-bottom: 0;
  padding: 5% 13%;
  font-size: 2rem;
  font-family: 'Montserrat';
}

.main-buttons-cta {
  margin-top: -90px;
}